@model UniCourses.WebUI.ViewModels.CourseCategoryVM

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@*
    <table class="table">
        <thead>
            <tr>
                <th>
                    <a asp-action="CoursesSort" asp-route-sortOrder="@ViewData["NameSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Skora Göre Filtrele</a>
                </th>
                <th>
                    İsim
                </th>
                <th>
                    <a asp-action="CoursesSort" asp-route-sortOrder="@ViewData["DateSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Uzunluğa göre filtrele</a>
                </th>
                <th></th>
            </tr>
        </thead>
    </table>
*@
    <div class="site-section bg-light">

        <div class="card">
            <div class="card-header">
                   
                            <table class="table table-striped projects">
                                <thead>
                                    <tr>
                                        <th style="width: 60%">
                                            <form asp-action="CoursesSort" method="get">
                                                <div class="dropdown">
                                                    <p>
                                                        Kurslarda Arat: <input type="text" name="SearchString" value="@ViewData["CurrentFilter"]" />
                                                        <input type="submit" value="Ara" class="btn btn-default" />
                                                    </p>
                                                    </div>
                                            </form>
                                        </th>
                                        <th style="width: 40%">
                                            <div class="dropdown">
                                                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                    Kursları Sırala
                                                </button>
                                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                                    <a class="dropdown-item" asp-action="CoursesSort" asp-route-sortOrder="@ViewData["DateSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">En Uzun</a>
                                                    <a class="dropdown-item" asp-action="CoursesSort" asp-route-sortOrder="@ViewData["NameSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">En Yüksek Puan</a>
                                                    <a class="dropdown-item" asp-action="CoursesSort" asp-route-sortOrder="Student">En Çok Alınan</a>
                                                </div>
                                            </div>
                                        </th>
                                    </tr>
                                </thead>
                            </table>
            </div>
        </div>
        <br />
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 col-lg-8 order-md-2">
                            <div class="row">
                                @foreach (Course course in Model.CourseList)
                                {
                                    <div class="col-md-12 col-lg-6 mb-5">
                                        <div class="block-19">
                                            <figure>
                                                <a asp-controller="Home" asp-action="CourseSinglePage" asp-route-courname="@UniCourses.WebUI.Common.MyTool.urlConvert(course.Name)" asp-route-catname="Kategori" asp-route-id="@course.Id"><img src="~/img/@course.ImageURL" style="width:350px; height:400px;" alt="Image" class="img-fluid"></a>
                                            </figure>
                                            <div class="text">
                                                <h2 class="heading"><a asp-controller="Home" asp-route-courname="@UniCourses.WebUI.Common.MyTool.urlConvert(course.Name)" asp-action="CourseSinglePage" asp-route-catname="Kategori" asp-route-id="@course.Id"> @course.Name</a></h2>
                                                <p class="mb-4"></p>
                                                <div class="meta d-flex align-items-center">
                                                    <div class="number">
                                                        <span>@course.Score /5,0</span>
                                                    </div>
                                                    <div class="number">
                                                        <span>@course.NumberOfStudent Öğrenen</span>
                                                    </div>
                                                    <div class="price text-right"><del class="mr-3">@course.Price</del><span>Free</span></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                            <div class="row">
                                @{
                                    var prevDisabled = !Model.CourseList.OncekiSayfa ? "disabled" : "";
                                    var nextDisabled = !Model.CourseList.SonrakiSayfa ? "disabled" : "";
                                }

                                <a asp-action="CoursesSort"
                                   asp-route-sortOrder="@ViewData["CurrentSort"]"
                                   asp-route-pageNumber="@(Model.CourseList.PageIndex - 1)"
                                   asp-route-currentFilter="@ViewData["CurrentFilter"]"
                                   class="btn btn-default @prevDisabled">
                                    <i class="fa fa-chevron-left" aria-hidden="true"></i>

                                </a>

                                <div class="row mb-5">
                                    <div class="col-md-12 text-center">
                                        <div class="block-27">
                                            <ul>
                                                @for (int i = 1; i <= Model.CourseList.TotalPages; i++)
                                                {
                                                    @if (i == ViewBag.dgr)
                                                    {
                                                        <li class="active"><a asp-action="CoursesSort" asp-route-sortOrder="@ViewData["CurrentSort"]" asp-route-pageNumber="@i" asp-route-id="@ViewBag.catid">@i</a></li>
                                                    }
                                                    else
                                                    {
                                                        <li><a asp-action="CoursesSort" asp-route-pageNumber="@i" asp-route-sortOrder="@ViewData["CurrentSort"]" asp-route-id="@ViewBag.catid">@i</a></li>
                                                    }
                                                }
                                            </ul>
                                        </div>
                                    </div>
                                </div>

                                <a asp-action="CoursesSort"
                                   asp-route-sortOrder="@ViewData["CurrentSort"]"
                                   asp-route-pageNumber="@(Model.CourseList.PageIndex + 1)"
                                   asp-route-currentFilter="@ViewData["CurrentFilter"]"
                                   class="btn btn-default @nextDisabled">
                                    <i class="fa fa-chevron-right" aria-hidden="true"></i>
                                </a>
                            </div>

                        </div>
                        <!-- END content -->
                        <div class="col-md-6 col-lg-4 order-md-1">
                            <div class="block-26">
                                <h3 class="heading">Etiketler</h3>
                                <ul>
                                    @foreach (Tag tags in Model.Tags)
                                    {
                                        <li><a asp-action="CoursesSort" asp-route-SearchString="@tags.TagName">@tags.TagName</a></li>
                                    }

                                </ul>
                            </div>
                        </div>
                        <!-- END Sidebar -->
                    </div>
                </div>
            </div>

            @*foreach (Course course in Model.CoursesPage)
        {
            <div class="col-md-12 col-lg-6 mb-5">
                <div class="block-19">
                    <br />
                    <figure>
                        <a asp-controller="Home" asp-action="CourseSinglePage" asp-route-courname="@UniCourses.WebUI.Common.MyTool.urlConvert(course.Name)" asp-route-catname="@UniCourses.WebUI.Common.MyTool.urlConvert(Model.Category.CategoryName)" asp-route-id="@course.Id"><img src="~/img/@course.ImageURL" alt="Image" class="img-fluid"></a>
                    </figure>
                    <div class="text">
                        <h2 class="heading"><a asp-controller="Home" asp-route-courname="@UniCourses.WebUI.Common.MyTool.urlConvert(course.Name)" asp-action="CourseSinglePage" asp-route-catname="@UniCourses.WebUI.Common.MyTool.urlConvert(Model.Category.CategoryName)" asp-route-id="@course.Id"> @course.Name</a></h2>
                        <p class="mb-4"></p>
                        <div class="meta d-flex align-items-center">
                            <div class="number">
                                <span>@course.Score /5,0</span>
                            </div>
                            <div class="number">
                                <span>@course.NumberOfStudent Öğrenen</span>
                            </div>
                            <div class="price text-right"><del class="mr-3">@course.Price</del><span>Free</span></div>
                        </div>
                    </div>
                </div>
            </div>
        }*@
