@model UniCourses.WebUI.ViewModels.CourseCategoryVM
@{
    ViewData["Title"] = "EgitimciGoruntule";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="https://fonts.googleapis.com/css?family=Cardo:400,700|Oswald" rel="stylesheet">

<div class="container">
    <div class="row element-animate">
        <div class=" col-md-5">
            <div style="text-align:right; margin-top:40px;">
                <div class="d-flex align-items-center justify-content-center">
                    <figure>
                        <img style="width:100%; height: auto;max-width:256px;" src="/Picture/@Model.Educator.PictureURL" />
                        @*<span><i class="fa fa-star"></i>    Eğitimci Puanı</span>*@
                        <div class="row d-flex align-items-center justify-content-center mt-4">

                            <a href="https://twitter.com/@Model.Educator.Twitter" class="fa fa-twitter fa-2x p-2" target="_blank"></a>
                            <a href="https://youtube.com/@Model.Educator.Youtube" class="fa fa-youtube fa-2x p-2" target="_blank"></a>
                            <a href="https://linkedin.com/in/@Model.Educator.Linkedin" class="fa fa-linkedin fa-2x  p-2" target="_blank"></a>
                            <a href="https://@Model.Educator.WebSite" class="fa fa-external-link fa-2x  p-2" target="_blank"></a>
                            <a href="https://instagram.com/@Model.Educator.Instagram" class="fa fa-external-link fa-2x  p-2" target="_blank"></a>

                        </div>
                        <!-- badge -->
                    </figure>

                </div>
            </div>
        </div>

        <div class="col-md-7 text-center" style="margin-top:40px; margin-bottom:20px;">
            <div class="block-19 p-5">

                <div class="icon-row">

                    <p style="font-family:'Cardo',sheriff;">EĞİTMEN</p>
                    <h4 style="font-family: 'Oswald', sans-serif; text-transform: uppercase; font-size: 2em; color: #1b1b1b;">
                        <b>@Model.Educator.NameSurname</b>
                    </h4><br />
                    <p>
                        <i class="fa fa-pencil m-2" aria-hidden="true" style="color:#cc2444;"></i>  @Model.Educator.Job
                    </p>
                    <p>
                        <i class="fa fa-graduation-cap m-2" aria-hidden="true" style="color:#cc2444;"></i>  @Model.Educator.University
                    </p>

                </div>
            </div>
        </div>
    </div>
    <!--Tanıtım ends-->
    <!--Kurslar starts-->
    <div class="row bg-light element-animate m-5">
        <div class="col-md-12 block-25 p-lg-5">
            <div class="row d-flex align-items-center justify-content-center">
                <div class="col-md-3 m-3 btn btn-outline-primary">
                    Toplam @Model.Educator.TotalStudent Öğrenci
                </div>
                @*<div class="col-md-3 m-3 btn btn-outline-primary">
                        @Model. Eğitmen Puanı
                    </div>*@

            </div>
            <div class="mt-2 row d-flex align-items-center justify-content-center">

                <p>
                    @Html.Raw(Model.Educator.About)
                </p>
            </div>
        </div>
    </div>
    <div class="row bg-light element-animate">
        <div class="col-md-12 block-25">
            <div id="Page1">

                <div class="row justify-content-between m-3 p-2">
                    <div style="float:left; margin:5px;">
                        <h4>Eğitmenin Kursları</h4>
                    </div>
                    <div style="float:right;margin:5px;">
                        <a href="#" class="btn btn-primary" onclick="return show('Page2','Page1');">Eğitmenin Takip Ettiği Kurslar  <i class="fa fa-arrow-right"></i></a>
                    </div>
                </div>
                <div class="row">
                    @foreach (Course course in Model.Courses)
	                {
                        <div class="col-md-6">
                            <div class=" m-2">
                                <a asp-controller="Home" asp-action="CourseSinglePage" asp-route-courname="@UniCourses.WebUI.Common.MyTool.urlConvert(course.Name)" asp-route-catname="Kategori" asp-route-id="@course.Id" class="d-flex" style="vertical-align:middle;">
                                    <img style="height:100px; width:auto; margin:5px 10px 10px 0px;" src="/img/@course.ImageURL" alt="" class="img-fluid">
                                    <div class="text m-2">
                                        <h3 class="heading">@course.Name</h3>
                                        <div class="price text-right"><del class="mr-3"></del><span>@course.Price</span></div>

                                    </div>
                                </a>
                            </div>
                        </div>
	                }
                    

                </div>



            </div>

            <div id="Page2" style="display:none">

                <div class="row justify-content-between m-3 p-2">
                    <div style="float:left; margin:5px;">
                        <h4>Eğitmenin Takip Ettiği Kurslar</h4>
                    </div>
                    <div style="float:right;margin:5px;">
                        <a href="#" class="btn btn-primary" onclick="return show('Page1','Page2');">Eğitmenin Kursları</a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class=" m-2">
                            <a href="#" class="d-flex" style="vertical-align:middle;">
                                <img style="height:100px; width:auto; margin:5px 10px 10px 0px;" src="/images/img_2_b.jpg" alt="" class="img-fluid">
                                <div class="text m-2">
                                    <h3 class="heading">Create cool websites using this template</h3>


                                </div>
                            </a>
                        </div>
                    </div>

                </div>

                <!--Courses ENDS-->

            </div>
        </div>
    </div>

    <!--kurslar sonu-->
    <!--faaliyetler başı-->
    <div class="row bg-light">
        <div class="col-md-12 block-25 mt-4">
            <div class="row justify-content-between m-3 p-2">
                <div style="float:left; margin:5px;">
                    <h4>Faaliyetler</h4>
                </div>
            </div>

        </div>
    </div>
</div>
<script>
    function show(shown, hidden) {
        document.getElementById(shown).style.display = 'block';
        document.getElementById(hidden).style.display = 'none';
        return false;
    }
</script>
