@model UniCourses.Dal.Entities.Member
@{
    ViewData["Title"] = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="site-hero site-sm-hero overlay" data-stellar-background-ratio="0.5" style="background-image: url(/images/big_image_2.jpg);">
    <div class="container">
        <div class="row align-items-center justify-content-center site-hero-sm-inner">
            <div class="col-md-7 text-center">

                <div class="mb-5 element-animate">
                    <h1 class="mb-2">Kayıt Ol</h1>
                    <p class="bcrumb"><a asp-action="Index">Anasayfa</a> <span class="sep ion-android-arrow-dropright px-2"></span>  <span class="current">Kayıt Ol</span></p>
                </div>

            </div>
        </div>
    </div>
</section>
<!-- END section -->

<section class="site-section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-7">
                <div class="form-wrap">
                    <h2 class="mb-5">Yeni Hesap Aç</h2>
                    <form action="#" method="post">
                        <div>
                            <div class="row">
                                <div class="col-md-12 form-group">
                                    <label for="Mail">Email Adresi</label>
                                    <input type="email" name="Mail" class="form-control py-2">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 form-group">
                                    <label for="NameSurName"> İsim Soyisim </label>
                                    <input type="text" name="NameSurName" class="form-control py-2">
                                </div>
                            </div>
                            
                            @*
                                <div class="row">
                                    <div class="col-md-12 form-group">
                                        <label for="BirthDate">Doğum Tarihi</label>
                                        <input type="date" name="BirthDate" class="form-control py-2">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12 form-group">
                                        <label for="Gender">Cinsiyet</label><br />
                                        <input type="radio" id="Gender1" name="Gender" value="Erkek">
                                        <label for="Gender1">Erkek</label><br />
                                        <input type="radio" id="Gender2" name="Gender" value="Kadın">
                                        <label for="Gender2">Kadın</label><br />
                                        <input type="radio" id="Gender3" name="Gender" value="Diğer">
                                        <label for="Gender3">Belirtmek İstemiyorum</label><br />
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-12 form-group">
                                        <label for="Phone">Telefon Numarası</label>
                                        <input type="tel" id="Phone" name="Phone" placeholder="___ ___ __ __">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12 form-group">
                                        <input type="hidden" id="RoleNumber" value="0" name="RoleNumber" />
                                        @*<select name="RoleNumber">
                        <option value="1">Üye</option>
                        <option value="0">Eğitmen</option>
                    </select> </div>*@
                        
                        <div class="row">
                            <div class="col-md-12 form-group">
                                <label for="Password">Parola</label>
                                <input type="password" name="Password" class="form-control py-2 ">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 form-group">
                                <input type="hidden" id="RegisteryDate" name="RegisteryDate" value=@DateTime.Now class="form-control py-2">
                                <input type="hidden" id="BirthDate" name="BirthDate" value=@DateTime.Now class="form-control py-2">
                                <input type="hidden" id="Gender" name="Gender" value="Diğer" class="form-control py-2">
                                <input type="hidden" id="Phone" name="Phone" value="1234567890" class="form-control py-2">
                                <input type="hidden" id="RoleNumber" name="RoleNumber" value="1" class="form-control py-2">
                                <input type="hidden" id="LogDate" name="LogDate" value=@DateTime.Now class="form-control py-2">
                            </div>
                        </div>
                        
                </div>
                <div class="row">
                    <div class="col-md-6 form-group">
                        <input type="submit" value="Kaydol" class="btn btn-primary px-5 py-2">
                    </div>
                </div>
                </form>
            </div>
        </div>
    </div>
    </div>
</section>
@*
    <div class="row">
        <div class="col-md-12 form-group">
            <label for="Name">İsim</label>
            <input type="text" id="Name" class="form-control py-2">
        </div>
    </div> <div class="row">
        <div class="col-md-12 form-group">
            @Html.LabelFor(x => x.LastName)
            @Html.TextBoxFor(x => x.LastName, new { @class = "form-control" })
        </div>
    </div> <div class="row">
        <div class="col-md-12 form-group">
            <label for="Gender"> Gender</label>
            <input type="text" id="Gender" class="form-control py-2">
        </div>
    </div> <div class="row">
        <div class="col-md-12 form-group">
            <label for="BirthDate">BirthDate</label>
            <input type="date" id="BirthDate" class="form-control py-2">
        </div>
    </div> <div class="row">
        <div class="col-md-12 form-group">
            @Html.LabelFor(x => x.RegisteryDate)
            @Html.TextBoxFor(x => x.RegisteryDate, new { @class = "form-control" })
        </div>
    </div><div class="row">
        <div class="col-md-12 form-group">
            @Html.LabelFor(x => x.LogDate)
            @Html.TextBoxFor(x => x.LogDate, new { @class = "form-control" })
        </div>
    </div> <div class="row">
        <div class="col-md-12 form-group">
            <label for="Phone">Phone </label>
            <input type="text" id="Phone" class="form-control py-2">
        </div>
    </div><div class="row">
        <div class="col-md-12 form-group">
            <label for="RoleNumber">RoleNumber</label>
            <input type="text" id="RoleNumber" class="form-control py-2">
        </div>
    </div><div class="row">
        <div class="col-md-12 form-group">
            <label for="Mail">Email Adresi</label>
            <input type="email" id="Mail" class="form-control py-2">
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 form-group">
            <label for="Password">Parola</label>
            <input type="password" id="Password" class="form-control py-2 ">
        </div>
    </div>
    <div class="row mb-5">
        <div class="col-md-12 form-group">
            <label for="Password">Parolayı Tekrarla</label>
            <input type="password" id="Password" class="form-control py-2">
        </div>
    </div>
*@

