@model List<Course>
@{
    ViewData["Title"] = "Course";
    Layout = "~/Areas/Educators/Views/Shared/_Layout.cshtml";
}
@foreach (var item in Model)
{
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">

                    </div>
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a asp-action="Index">Ana Sayfa</a></li>
                            <li class="breadcrumb-item"><a asp-action="CourseList">Kurslar</a></li>
                            <li class="breadcrumb-item active">@item.Name</li>
                        </ol>
                    </div>
                </div>
            </div><!-- /.container-fluid -->
        </section>

        <!-- Main content -->
        <section class="content">

            <!-- Default box -->
            <div class="card card-solid">
                <div class="card-body">
                    <div class="row">
                        <div class="col-12 col-sm-4">
                            <div class="col-12">
                                <img src="/img/@item.ImageURL" alt="Image" class="img-fluid">
                            </div>
                        </div>
                        <div class="col-12 col-sm-8">
                            <h3 class="my-3">@item.Name</h3>
                            <p>
                                @item.Title
                            </p>
                            <br />
                            <p>
                                @Html.Raw(item.Description)
                            </p>

                            <hr>

                            <div class="row">
                                <div class="col-12 col-sm-4">
                                    <div class="info-box bg-light">
                                        <div class="info-box-content">
                                            <span class="info-box-text text-center text-muted">Ders Sayısı</span>
                                            <span class="info-box-number text-center text-muted mb-0">@item.Lessons.Count Ders</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-4">
                                    <div class="info-box bg-light">
                                        <div class="info-box-content">
                                            <span class="info-box-text text-center text-muted">Toplam Süre</span>
                                            <span class="info-box-number text-center text-muted mb-0">@(item.Duration/3600) Saat @(item.Duration/60) Dakika</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-4">
                                    <div class="info-box bg-light">
                                        <div class="info-box-content">
                                            <span class="info-box-text text-center text-muted">Fiyat</span>
                                            <span class="info-box-number text-center text-muted mb-0">@item.Price tl</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <hr>
                        </div>
                    </div>
                    <div class="row d-flex align-items-center justify-content-center">
                        <div class="text-center mt-5 mb-3">
                            <a asp-action="CreateLesson" class="btn btn-sm btn-primary">Ders Ekle</a>
                            <a asp-action="EditCourse" asp-route-id="@item.Id" class="btn btn-sm btn-warning">Kursu Düzenle</a>
                            <a asp-action="RemoveCourse" asp-route-id="@item.Id" class="btn btn-sm btn-danger">Kursu Sil</a>
                        </div>
                    </div>
                    <!--/. edit, delete buttons-->
                    <div class="row">
                        <div class="col-9 mt-4">
                            <nav class="w-100">
                                <div class="nav nav-tabs" id="product-tab" role="tablist">
                                    <a class="nav-item nav-link active" id="product-desc-tab" data-toggle="tab" href="#product-desc" role="tab" aria-controls="product-desc" aria-selected="true">Description</a>
                                    <a class="nav-item nav-link" id="product-comments-tab" data-toggle="tab" href="#product-comments" role="tab" aria-controls="product-comments" aria-selected="false">Yorumlar</a>
                                    <a class="nav-item nav-link" id="product-rating-tab" data-toggle="tab" href="#product-rating" role="tab" aria-controls="product-rating" aria-selected="false">Rating</a>
                                </div>
                            </nav>
                            <div class="tab-content p-3" id="nav-tabContent">
                                <div class="tab-pane fade show active" id="product-desc" role="tabpanel" aria-labelledby="product-desc-tab">
                                    @Html.Raw(item.Description)
                                </div>
                                <div class="tab-pane fade" id="product-comments" role="tabpanel" aria-labelledby="product-comments-tab">
                                    <div class="row">
                                        <div class="col-12">
                                            @await Component.InvokeAsync("KursYorumlari", item.Id)
                                            @*<div class="post">
                                                    <div class="user-block">
                                                        <img class="img-circle img-bordered-sm" src="../../dist/img/user1-128x128.jpg" alt="user image">
                                                        <span class="username">
                                                            <a href="#">Jonathan Burke Jr.</a>
                                                        </span>
                                                        <span class="description">Shared publicly - 7:45 PM today</span>
                                                    </div>
                                                    <!-- /.user-block -->
                                                    <p>
                                                        Lorem ipsum represents a long-held tradition for designers,
                                                        typographers and the like. Some people hate it and argue for
                                                        its demise, but others ignore.
                                                    </p>

                                                    <p>
                                                        <a href="#" class="link-black text-sm"><i class="fa fa-link mr-1"></i> Demo File 1 v2</a>
                                                    </p>
                                                </div> *@

                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="product-rating" role="tabpanel" aria-labelledby="product-rating-tab">
                                    Cras ut ipsum ornare, aliquam ipsum non, posuere elit. In hac habitasse platea dictumst. Aenean elementum leo augue, id fermentum risus efficitur vel. Nulla iaculis malesuada scelerisque. Praesent vel ipsum felis. Ut molestie, purus aliquam placerat sollicitudin, mi ligula euismod neque, non bibendum nibh neque et erat. Etiam dignissim aliquam ligula, aliquet feugiat nibh rhoncus ut. Aliquam efficitur lacinia lacinia. Morbi ac molestie lectus, vitae hendrerit nisl. Nullam metus odio, malesuada in vehicula at, consectetur nec justo. Quisque suscipit odio velit, at accumsan urna vestibulum a. Proin dictum, urna ut varius consectetur, sapien justo porta lectus, at mollis nisi orci et nulla. Donec pellentesque tortor vel nisl commodo ullamcorper. Donec varius massa at semper posuere. Integer finibus orci vitae vehicula placerat.
                                </div>
                            </div>
                        </div>
                        <!--/.comments-->
                    </div>
                    <!--/.row-->
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /Lessons card -->
            <div class="card card-solid">
                <div class="card-body">
                    <div class="row">
                            <div class="card-header">
                                <h3 class="card-title">Eklediğim Dersler</h3>
                            </div>
                            <!-- /.card-header -->
                            <div class="card-body table-responsive p-0">
                                <table class="table table-striped projects">
                                    <thead>
                                        <tr>
                                            <th style="width: 10%">
                                                Ders No
                                            </th>
                                            <th style="width: 30%">
                                                Ders İsmi
                                            </th>
                                            <th style="width: 20%">
                                                Toplam Uzunluk
                                            </th>
                                            <th style="width: 20%" class="text-center">
                                                Durum
                                            </th>
                                            <th style="width: 20%">
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (Lesson lessons in item.Lessons)
                                        {
                                        <tr>
                                            <td>
                                                @lessons.LessonNo
                                            </td>
                                            <td>
                                                <a>
                                                    @lessons.LessonName
                                                </a>
                                                <br />
                                                <small>
                                                    @lessons.LessonDescription
                                                </small>
                                            </td>

                                            <td class="project_progress">

                                                <small>
                                                    lessons.Videos.Count Video
                                                </small>
                                            </td>
                                            <td class="project-state">
                                                <span class="badge badge-success">Tamamlandı</span>
                                            </td>
                                            <td class="project-actions text-right">
                                                <a class="btn btn-primary btn-sm" asp-route-id="@lessons.Id" asp-action="UploadVideo">
                                                    <i class="fa fa-file-video-o ">
                                                    </i>
                                                    Video Ekle
                                                </a>
                                                <a class="btn btn-info btn-sm" asp-action="EditLesson">
                                                    <i class="fa fa-pencil">
                                                    </i>
                                                    Düzenle
                                                </a>
                                                <a class="btn btn-danger btn-sm" href="#">
                                                    <i class="fa fa-trash">
                                                    </i>
                                                </a>
                                            </td>
                                        </tr>
                                        }
                                    </tbody>
                                </table>
                            
                            <!-- /.card-body -->
                        </div>
                        
                    </div>
                    <!--/Lessons row-->
                </div>
                <!-- /Lessons card-body -->
            </div>
        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
}
