@model List<Course>
@{
    ViewData["Title"] = "CourseList";
    Layout = "~/Areas/Educators/Views/Shared/_Layout.cshtml";
}

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Eğitimlerim</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a asp-action="Index">Ana Sayfa</a></li>
                        <li class="breadcrumb-item active">Kurslarım</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">

            <!-- /.row -->
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">Yayınlanan Kurslarım</h3>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body table-responsive p-0">
                            <table class="table table-striped projects">
                                <thead>
                                    <tr>
                                        <th style="width: 1%">
                                            #
                                        </th>
                                        <th style="width: 39%">
                                            Kurs Adı
                                        </th>
                                        <th style="width: 39%">
                                            Kurs Detayları
                                        </th>
                                        <th style="width: 20%">
                                            Toplam Ders
                                        </th>
                                        <th style="width: 20%" class="text-center">
                                            Durum
                                        </th>
                                        <th style="width: 20%">
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (Course courses in Model)
                                    {
                                        <tr>
                                            <td>
                                                <div class="col-12">
                                                    <img src="/img/@courses.ImageURL" alt="Image" class="img-fluid">
                                                </div>
                                            </td>
                                            <td>
                                                <a>
                                                   @courses.Name
                                                </a>
                                                <br />
                                                <small>
                                                   @courses.Title
                                                </small>
                                            </td>
                                            <td>
                                                <a>
                                                    @courses.NumberOfStudent Öğrenci
                                                </a>
                                                <br />
                                                    @courses.Price&#x20BA;
                                                <br />
                                                   Puan: @courses.Score
                                            </td>
                                            <td class="project_progress">
                                                    courses.lessoncount ders
                                            </td>
                                            <td class="project-state">
                                                @if (courses.State == true)
                                                {
                                                    <span class="badge badge-success"> Onaylandı</span>
                                                }
                                                else
                                                {
                                                    <span class="badge badge-secondary"> Onay Bekliyor</span>
                                                }
                                            </td>
                                            <td class="project-actions text-right">
                                                <a class="btn btn-primary btn-sm" asp-route-id="@courses.Id" asp-action="Course">
                                                    <i class="fa fa-folder">
                                                    </i>
                                                    Görüntüle
                                                </a>
                                                <a class="btn btn-info btn-sm" asp-route-id="@courses.Id" asp-action="EditCourse">
                                                    <i class="fa fa-pencil">
                                                    </i>
                                                    Düzenle
                                                </a>
                                                <a class="btn btn-danger btn-sm" asp-route-id="@courses.Id" asp-action="RemoveCourse">
                                                    <i class="fa fa-trash">
                                                    </i>
                                                    Kaldır
                                                </a>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>
            </div>
            <!-- /.row -->
        </div><!-- /.container-fluid -->
    </section>
    <!-- /.content --> 

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <!-- /.row -->
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">Taslak Kurslarım</h3>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body table-responsive p-0">
                            <table class="table table-striped projects">
                                <thead>
                                    <tr>
                                        <th style="width: 1%">
                                            #
                                        </th>
                                        <th style="width: 39%">
                                            Kurs Adı
                                        </th>
                                        <th style="width: 39%">
                                            Kurs Detayları
                                        </th>
                                        <th style="width: 20%">
                                            Toplam Ders
                                        </th>
                                        <th style="width: 20%" class="text-center">
                                            Durum
                                        </th>
                                        <th style="width: 20%">
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (Course courses in Model)
                                    {
                                        <tr>
                                            <td>
                                                <div class="col-12">
                                                    <img src="/img/@courses.ImageURL" alt="Image" class="img-fluid">
                                                </div>
                                            </td>
                                            <td>
                                                <a>
                                                   @courses.Name
                                                </a>
                                                <br />
                                                <small>
                                                   @courses.Title
                                                </small>
                                            </td>
                                            <td>
                                                <a>
                                                    @courses.NumberOfStudent Öğrenci
                                                </a>
                                                <br />
                                                    @courses.Price&#x20BA;
                                                <br />
                                                   Puan: @courses.Score
                                            </td>
                                            <td class="project_progress">
                                                    courses.lessoncount ders
                                            </td>
                                            <td class="project-state">
                                                @if (courses.State == true)
                                                {
                                                    <span class="badge badge-success"> Onaylandı</span>
                                                }
                                                else
                                                {
                                                    <span class="badge badge-secondary"> Onay Bekliyor</span>
                                                }
                                            </td>
                                            <td class="project-actions text-right">
                                                <a class="btn btn-primary btn-sm" asp-route-id="@courses.Id" asp-action="Course">
                                                    <i class="fa fa-folder">
                                                    </i>
                                                    Görüntüle
                                                </a>
                                                <a class="btn btn-info btn-sm" asp-route-id="@courses.Id" asp-action="EditCourse">
                                                    <i class="fa fa-pencil">
                                                    </i>
                                                    Düzenle
                                                </a>
                                                <a class="btn btn-danger btn-sm" asp-route-id="@courses.Id" asp-action="RemoveCourse">
                                                    <i class="fa fa-trash">
                                                    </i>
                                                    Kaldır
                                                </a>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>
            </div>
            <!-- /.row -->
        </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>

