@model UniCourses.Dal.Entities.Course
@{
    ViewData["Title"] = "EditCourse";
    Layout = "~/Areas/Educators/Views/Shared/_Layout.cshtml";
}


<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>@Model.Name Güncelle</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a asp-action="Index">Ana Sayfa</a></li>
                        <li class="breadcrumb-item"><a asp-action="CourseList">Kurslar</a></li>
                        <li class="breadcrumb-item active">@Model.Name</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">

        <!-- Default box -->
        <div class="card card-solid">
            <div class="card-body">
                <div class="row">
                    <div class="col-12 col-sm-4">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Kurs Fotoğrafı</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td> <img src="/img/@Model.ImageURL" alt="Image" class="img-fluid"> <br />@Model.ImageURL</td>
                                    <td class="text-right py-0 align-middle">
                                        <div class="btn-group btn-group-sm">
                                            <a href="#" class="btn btn-info"><i class="fa fa-eye"></i></a>
                                            <a href="#" class="btn btn-danger"><i class="fa fa-trash"></i></a>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-12 col-sm-8">
                        <form method="post" asp-action="EditCourse">
                            <div class="form-group">
                                <label for="inputName">Kurs İsmi</label>
                                <input asp-for="@Model.Name" id="inputName" class="form-control" value="@Model.Name">
                                <input asp-for="@Model.Id" type="hidden" class="form-control" value="@Model.Id">
                            </div>
                            <div class="form-group">
                                <label for="inputDescription">Kurs Başlığı</label>
                                <textarea id="inputDescription" asp-for="@Model.Title" class="form-control" rows="4">@Model.Title</textarea>
                            </div>
                            <div class="form-group">
                                <label for="inputDescription">Kurs Detayları</label>
                                <textarea id="inputDescription" asp-for="@Model.Description" class="form-control" rows="4">@Model.Description</textarea>
                            </div>
                            <div class="form-group">
                                <label for="inputName">Ücret</label>
                                <input asp-for="@Model.Price" id="price" class="form-control" value="@Model.Price">
                            </div>
                            <div class="form-group">
                                <input type="submit" id="price" class="form-control" value="Kursu Güncelle">
                            </div>
                            <hr>
                        </form>
                    </div>
                </div>
                <!--/. edit, delete buttons-->
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->
