@model UniCourses.WebUI.ViewModels.LessonCoursesVM
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Educators/Views/Shared/_Layout.cshtml";
}

@*
    <h1>Index</h1>

    <span>Hoş Geldiniz <span style="color:blue">@User.Claims.FirstOrDefault(f => f.Type == System.Security.Claims.ClaimTypes.Name).Value</span></span>

    <h1>BURASI EDUCATOR ANA SAYFASI</h1>
    <br />
    <div>
        <a asp-action="CreateCourse"> Kurs Oluştur </a>
    </div>
    <br />
    <div>
        <a asp-action="CreateLesson"> Bölüm Ekle </a>
    </div>
    <br />
    <a asp-controller="Home" asp-action="Cikis">Çıkış</a>
*@
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0 text-dark">Genel</h1>
                </div><!-- /.col -->

            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->
    <!-- Main content -->
    <div class="container-fluid">
        <!-- Small boxes (Stat box) -->
        <div class="row">

            <!-- ./col -->
            <div class="col-lg-3 col-6">
                <!-- small box -->
                <div class="small-box bg-success">
                    <div class="inner">
                        <h3>0<sup style="font-size: 20px">₺</sup></h3>

                        <p>Kazanç</p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-cash"></i>
                    </div>
                </div>
            </div>
            <!-- ./col -->
            <div class="col-lg-3 col-6">
                <!-- small box -->
                <div class="small-box bg-warning">
                    <div class="inner" style="color:white;">
                        <h3>@Model.Educator.TotalStudent</h3>

                        <p>Öğrenci</p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-person-add"></i>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-6">
                <!-- small box -->
                <div class="small-box bg-info">
                    <div class="inner">
                        <h3>0</h3>

                        <p>Sepete Eklenen</p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-bag"></i>
                    </div>
                </div>
            </div>
            <!-- ./col -->
            <div class="col-lg-3 col-6">
                <!-- small box -->
                <div class="small-box bg-danger">
                    <div class="inner">
                        <h3>0</h3>

                        <p>İstek Listesine Kurs Ekleyen</p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-heart"></i>
                    </div>
                </div>
            </div>
            <!-- ./col -->
        </div>
        <!-- /.row -->
        <!-- Main row -->
        <div class="row">
            <!-- Left col -->
            @foreach (Course course in Model.Coursess)
            {
                <div class="col-md-6 col-lg-4 bg-light">
                    <!-- Custom tabs (Charts with tabs)-->
                    <div class="card  d-flex align-items-center justify-content-between">
                        <div class="card-header">
                            <a asp-action="Course" asp-route-id="@course.Id">
                                <h3 class="card-title">
                                    <i class="fa fa-book mr-1"></i>
                                    @course.Name
                                </h3> <br />
                            </a>
                            <p>@course.Title</p>
                            <span style=""><i class="fa fa-th-list"></i>  @course.Lessons.Count Ders </span>
                            <span><i class="fa fa-user"></i>  @course.NumberOfStudent Öğrenci</span>
                            <br />
                            <span><i class="fa fa-clock-o"></i> @(course.Duration/3600) Saat @(course.Duration/60) Dakika </span>
                            
                        </div>
                    </div>
                </div>
            }


        </div>

        <!-- /.card -->
        <!-- DIRECT CHAT -->
        <div class="card direct-chat direct-chat-primary">
            <div class="card-header">
                <h3 class="card-title">Tüm Yorumlar</h3>

                <div class="card-tools">
                    <span data-toggle="tooltip" title="3 New Messages" class="badge badge-primary">3</span>
                    <button type="button" class="btn btn-tool" data-card-widget="collapse">
                        <i class="fa fa-minus"></i>
                    </button>
                   @* <button type="button" class="btn btn-tool" data-toggle="tooltip" title="Contacts"
                            data-widget="chat-pane-toggle">
                        <i class="fa fa-comments"></i>
                    </button>
                    <button type="button" class="btn btn-tool" data-card-widget="remove">
                        <i class="fa fa-times"></i>
                    </button>*@
                </div>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
                <!-- Conversations are loaded here -->
                <div class="direct-chat-messages">
                    <!-- Message. Default to the left -->
                    <a asp-area="" asp-controller="Home" asp-action="CourseSinglePage">
                        <div class="direct-chat-msg">
                            <div class="direct-chat-infos clearfix">
                                <span class="direct-chat-name float-left">Alexander Pierce </span>
                                <span class="direct-chat"> kurs adı | Ders adı</span>
                                <span class="direct-chat-timestamp float-right">23 Jan 2:00 pm</span>
                            </div>
                            <!-- /.direct-chat-infos -->
                            <img class="direct-chat-img" src="/images/noface.png" alt="message user image">
                            <!-- /.direct-chat-img -->
                            <div class="direct-chat-text">
                                Is this template really for free? That's unbelievable!
                            </div>
                            <!-- /.direct-chat-text -->
                        </div>
                        <!-- /.direct-chat-msg -->
                    </a>
                    <!-- /.direct-chat-msg -->

                </div>
                <!--/.direct-chat-messages-->
                <!-- Contacts are loaded here -->
                
            </div>
            <!-- /.card-body -->

            @*<div class="card-footer">
                <form action="#" method="post">
                    <div class="input-group">
                        <input type="text" name="message" placeholder="Type Message ..." class="form-control">
                        <span class="input-group-append">
                            <button type="button" class="btn btn-primary">Send</button>
                        </span>
                    </div>
                </form>
            </div>*@
            <!-- /.card-footer-->
        </div>
        <!--/.direct-chat -->
        
        <!-- /.Left col -->
        <!-- right col (We are only adding the ID to make the widgets sortable)-->
        <section class="col-lg-5 connectedSortable">

        </section>

        <!-- right col -->
    </div>
    <!-- /.row (main row) -->
</div><!-- /.container-fluid -->
<!-- /.content -->
<!-- /.content-wrapper -->


<!-- Control Sidebar -->
<aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
</aside>
<!-- /.control-sidebar -->
