@model UniCourses.WebUI.ViewModels.LessonCoursesVM
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Educators/Views/Shared/_Layout.cshtml";
}

@*
    <h1>Index</h1>

    <span>Hoş Geldiniz <span style="color:blue">@User.Claims.FirstOrDefault(f => f.Type == System.Security.Claims.ClaimTypes.Name).Value</span></span>

    <h1>BURASI EDUCATOR ANA SAYFASI</h1>
    <br />
    <div>
        <a asp-action="CreateCourse"> Kurs Oluştur </a>
    </div>
    <br />
    <div>
        <a asp-action="CreateLesson"> Bölüm Ekle </a>
    </div>
    <br />
    <a asp-controller="Home" asp-action="Cikis">Çıkış</a>
*@
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0 text-dark">Genel</h1>
                </div><!-- /.col -->

            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->
    <!-- Main content -->
    <div class="container-fluid">
        <!-- Small boxes (Stat box) -->
        <div class="row">

            <!-- ./col -->
            <div class="col-lg-3 col-6">
                <!-- small box -->
                <div class="small-box bg-success">
                    <div class="inner">
                        <h3>0<sup style="font-size: 20px">₺</sup></h3>

                        <p>Kazanç</p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-cash"></i>
                    </div>
                </div>
            </div>
            <!-- ./col -->
            <div class="col-lg-3 col-6">
                <!-- small box -->
                <div class="small-box bg-warning">
                    <div class="inner" style="color:white;">
                        <h3>@Model.Educator.TotalStudent</h3>

                        <p>Öğrenci</p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-person-add"></i>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-6">
                <!-- small box -->
                <div class="small-box bg-info">
                    <div class="inner">
                        <h3>0</h3>

                        <p>Sepete Eklenen</p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-bag"></i>
                    </div>
                </div>
            </div>
            <!-- ./col -->
            <div class="col-lg-3 col-6">
                <!-- small box -->
                <div class="small-box bg-danger">
                    <div class="inner">
                        <h3>0</h3>

                        <p>İstek Listesine Kurs Ekleyen</p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-heart"></i>
                    </div>
                </div>
            </div>
            <!-- ./col -->
        </div>
        <!-- /.row -->
        <!-- Main row -->
        <div class="row">
            <!-- Left col -->
            @foreach (Course course in Model.Coursess)
            {
                <div class="col-md-6 col-lg-4 bg-light">
                    <!-- Custom tabs (Charts with tabs)-->
                    <div class="card  d-flex align-items-center justify-content-between">
                        <div class="card-header">
                            <a asp-action="Course" asp-route-id="@course.Id">
                                <h3 class="card-title">
                                    <i class="fa fa-book mr-1"></i>
                                    @course.Name
                                </h3> <br />
                            </a>
                            <p>@course.Title</p>
                            <span style=""><i class="fa fa-th-list"></i>  @course.Lessons.Count Ders </span>
                            <span><i class="fa fa-user"></i>  @course.NumberOfStudent Öğrenci</span>
                            <br />
                            <span><i class="fa fa-clock-o"></i> @(course.Duration/3600) Saat @(course.Duration/60) Dakika </span>

                        </div>
                    </div>
                </div>
            }


        </div>

        <!-- /.card -->
        <!-- /.Left col -->
        <!-- right col (We are only adding the ID to make the widgets sortable)-->
        <section class="col-lg-5 connectedSortable">
        </section>

        <!-- right col -->
    </div>
    <!-- /.row (main row) -->
</div><!-- /.container-fluid -->
<!-- /.content -->
<!-- /.content-wrapper -->
<!-- Control Sidebar -->
<aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
</aside>
<!-- /.control-sidebar -->
